{% extends 'base.html.twig' %}

{% block title %}Añadir Cliente{% endblock %}

{% block body %}
<style>
    h1{
        color: #007bff;
    }
</style>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h1 class="text-center">Registro de Cliente</h1>

                {{ form_errors(formularioCliente) }}

                {{ form_start(formularioCliente) }}
                    <div class="mb-3">
                        {{ form_row(formularioCliente.nombre, {'attr': {'class': 'form-control', 'placeholder': 'Nombre'}}) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(formularioCliente.apellidos, {'attr': {'class': 'form-control', 'placeholder': 'Apellidos'}}) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(formularioCliente.telefono, {'attr': {'class': 'form-control', 'placeholder': 'Teléfono'}}) }}
                    </div>

                    <div class="mb-3">
                        {{ form_row(formularioCliente.direccion, {'attr': {'class': 'form-control', 'placeholder': 'Dirección'}}) }}
                    </div>

                    <button type="submit" class="btn btn-primary">Registrar Cliente</button>
                {{ form_end(formularioCliente) }}

                <br>

            </div>
        </div>
    </div>
{% endblock %}
