{% extends 'base.html.twig' %}

{% block title %}Añadir Incidencia{% endblock %}

{% block body %}
<style>
    h1 {
        color: #007bff;
    }
</style>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1 class="text-center">Registro de Incidencia</h1>

            {{ form_errors(formularioIncidencia) }}

            {{ form_start(formularioIncidencia) }}
            <div class="mb-3">
                {{ form_row(formularioIncidencia.titulo, {'attr': {'class': 'form-control', 'placeholder': 'Título'}})
                }}
            </div>

            <div class="mb-3">
                {{ form_row(formularioIncidencia.fechaCreacion, {'attr': {'class': 'form-control', 'placeholder': 'Fecha
                de Creación'}}) }}
            </div>

            <div class="mb-3">
                {{ form_row(formularioIncidencia.estado, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="form-check mb-3">
                {{ form_row(formularioIncidencia.cliente, {'attr': {'class': 'form-check-input'}}) }}
                <label class="form-check-label" for="{{ formularioIncidencia.cliente.vars.id }}">
                </label>
            </div>

            <br>

            <button type="submit" class="btn btn-primary">Registrar Incidencia</button>
            {{ form_end(formularioIncidencia) }}

            <br>

        </div>
    </div>
</div>
{% endblock %}